* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;             
}
/*body*/
body{
    width: 100%;
    height: 100vh;
    background-image: url(images/paris2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/**/
/*header*/
.header{
    border: 1px solid red;
    width: 85%;
    margin: auto;
    padding: 35 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    color: #fff;
}
.header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.header ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.header ul li:hover::after{
    width: 100%;
}

.header ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
/**/

/*main*/
.main{
    border: 1px solid red;
    grid-area: main;
    width: 100%;
    height: auto;
    position: absolute;
    transform: translateY(50%);
    text-align: center;
    color: #ffffff;
    padding: 10px;
    margin: 10px 0;
}

.main ol li{
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.main a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.main a::after{
    content: '';
    height: 3px;
    width: 0;
    background: orange;
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

.main ol li a:hover::after{
    width: 100%;
}
/**/

/*footer*/
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw; 
    grid-area: footer;
    height: 50px;
    color: #fff;
    background: rgba(50, 50, 156, 0.8);
}

.footer p{
    text-align: right;
    transform: translateY(50%);
}
/**/



