* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;        
}
/*body*/
body{
    background-image: url(images/paris2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
/**/
/*header*/
.header{
    width: 100%;
    margin: auto;
    padding: 35 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    color: #fff;
}
.header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.header ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.header ul li:hover::after{
    width: 100%;
}

.header ul li a{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}
/**/

/*main*/
.main{
    color: #fff;
    margin: auto;
    
    text-align: center;
    
}

.main ol li{
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.main a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.main a::after{
    content: '';
    height: 3px;
    width: 0;
    background: orange;
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

.main ol li a:hover::after{
    width: 100%;
}
/**/

/*footer*/
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
    color: #fff;
    background: rgba(50, 50, 156, 0.8);
}

.footer p{
    text-align: right;
}
/**/





